<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gesture Events Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AB75E301EB2214900457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB75E411EB2214A00457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB75E4C1EB2214A00457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
