<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trackpad Gesture Listener.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AB75DF41EB21EF900457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB75E0A1EB21EFA00457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB75E151EB21EFA00457FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
